* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.4;
  color: #000;
}

ul {
  padding: 0px;
  list-style-type: none;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.4s ease;
}

nav a:hover {
  color: grey;
}

/* IDs in HTML werden in CSS zu einem # */
.container {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

#navigation {
  display: none;
}

#navigation.show {
  display: block;
}

#burger {
  border: none;
  background: transparent;
}

#hero {
  background-image: url(../img/intro.jpg);
  /* vh steht für viewport height -- neue Info ! es könnte auch 1vh sein, das wäre dann 1/100stel von der gesamten Viewport-Größe */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Ich habe das so gemacht statt mit der hero.box aber ich mache das jetzt erstmal so weiter wie Markus das gelöst hat
  color: white;
  text-align: center; */
}

.hero-box {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.button {
  background: white;
  border-radius: 4px;
  padding: 15px 32px;
  color: #374a67;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.6);
  border: 1px solid #374a67;
  transition: 2s all ease;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}

.button:hover {
  color: white;
  background: #374a67;
}

.hero-box p {
  font-size: 16px;
}

.card img {
  width: 100%;
  /* ***********************************DAS HABE ICH GEMACHT ****************************
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  */
}

.card a {
  text-decoration: none;
  color: black;
}

/* ich muss den ganzen Pfad ansprechen, ich hatte nicht an das a in der card gedacht */
.card p a, .card-text {
  /* card text ist eine zweite Option, man muss nicht beides stylen */
  color: #828282;
}

.card {
  text-align: center;
  /* ***********************************DAS HABE ICH GEMACHT **************************** */
  border-radius: 15px;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  margin: 1rem;
  /* border: solid black 1px;  ich habe hier mal eine Border zum besseren Sehen der Card gemacht */
}

.card p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card .button {
  background: #374a67;
  border-radius: 4px;
  padding: 15px 32px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.6);
  border: 1px solid #374a67;
  transition: 2s all ease;
  display: inline-block;
  cursor: pointer;
  margin: 1rem;
  /* 1 rem ist 16 pixel */
  width: 90%;
}

.card .button:hover {
  color: #374a67;
  background: white;
}

/*
ICH, DIANA, habe das Folgende mit der uppercase bold Navigation so gelöst, man kann das auch weiter oben durch nav a definieren. Letzteres hat Dozent Markus so gemacht.

#navigation {
  text-transform: uppercase;
  font-weight: bold;
}

*/
#rezepte h2 {
  text-align: center;
}

.container {
  display: flex;
  /* ganz oben steht schon mal im Container display: flex; */
  flex-wrap: wrap;
}

/*
.card {
  width: 100%;

}
*/
.widget {
  background-color: #04122B;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.newsletter-input {
  background: white;
  border-radius: 4px;
  padding: 15px 32px;
  color: #374a67;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.6);
  border: 1px solid #374a67;
  transition: 2s all ease;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
  max-width: 100%;
  clear: both;
}

.icon-facebook, .icon-instagram, .icon-youtube {
  font-size: 2rem;
  display: inline-block;
  /* bin mir nicht sicher ob inline-block oder inline */
}

.footer-nav {
  text-align: center;
}

#nav-social {
  text-align: center;
}

/* für Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 1rem;
    /* steht oben schon bei card, kann man zur Sicherheit und zum Nachvollziehen aber auch in beide schreiben */
    flex: 1 1 calc(50% - 2rem);
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
  }

}

/* für Desktops */
@media (min-width: 1024px) {
  #burger {
    display: none;
  }

  #navigation {
    display: block;
  }

  nav li {
    float: left;
    margin-left: 30px;
    /* ICH habe das folgende Padding hinzugefügt damit es besser aussieht
    padding-right: 50px; */
  }

  .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    flex: 1 1 calc(33.3333333333% - 2rem);
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 2rem;
  }
